@model IEnumerable<WebQuanLyNhaKhoa.Data.DieuTri>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Index" asp-controller="DanhSachKhams">Quay về danh sách khám</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddichVuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddungCuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idkham)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddichVuNavigation.TenDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddungCuNavigation.TenDungCu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idkham)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IddieuTri">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IddieuTri">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IddieuTri">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
