@model WebQuanLyNhaKhoa.DTO.NhanVienDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link href="~/css/form.css" rel="stylesheet" type="text/css">
</head>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="row clearfix progress-box">
            <div class="col-lg-12">
                <a asp-action="Index">
                    <button class="rounded-lg px-4 py-2 border-2 border-black-500 text-black-500 hover:bg-blue-600 hover:text-blue-100 duration-300">
                        ← Quay về lại danh sách
                    </button>
                </a>
                <br>
                <hr>

                <body class="zf-backgroundBg">
                    <div class="zf-templateWidth">
                        <form action="/YourAction" name="form" method="POST" enctype="multipart/form-data" id="createNhanVienForm">
                            <div class="zf-templateWrapper">
                                <!-- Header -->
                                <ul class="zf-tempHeadBdr">
                                    <li class="zf-tempHeadContBdr">
                                        <h2 class="zf-frmTitle"><em>Chi tiết của nhân viên</em></h2>
                                        <p class="zf-frmDesc">Thông tin của nhân viên</p>
                                        <div class="zf-clearBoth"></div>
                                    </li>
                                </ul>

                                <!-- Form Container -->
                                <div class="zf-subContWrap zf-leftAlign">
                                    <ul>
                                        <!-- Tên -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Tên </label>
                                            <div class="zf-tempContDiv">
                                                  <span class="form-control"> @Html.DisplayFor(model => model.Ten)</span>
                                            </div>
                                        </li>

                                        <!-- Email -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Email </label>
                                            <div class="zf-tempContDiv">
                                                 <span class="form=control"> @Html.DisplayFor(model => model.Email)</span>
                                            </div>
                                        </li>

                                        <!-- Số điện thoại -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">SĐT </label>
                                            <div class="zf-tempContDiv">
                                                 <span class="form=control"> @Html.DisplayFor(model => model.Sdt)</span>
                                            </div>
                                        </li>

                                        <!-- Chức vụ -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Chức vụ </label>
                                            <div class="zf-tempContDiv">
                                                <span class="form=control">@Html.DisplayFor(model => model.TenCv)</span>
                                            </div>
                                        </li>

                                        <!-- Kinh nghiệm -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Kinh nghiệm</label>
                                            <div class="zf-tempContDiv">
                                                <span class="form=control">@Html.DisplayFor(model => model.KinhNghiem)</span>
                                            </div>
                                        </li>

                                        <!-- Chức vụ -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Chuyên nghành </label>
                                            <div class="zf-tempContDiv">
                                                <span class="form=control">@Html.DisplayFor(model => model.TenChuyenNghanh)</span>
                                            </div>
                                        </li>

                                        <!-- Địa chỉ -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Địa chỉ</label>
                                            <div class="zf-tempContDiv">
                                                <span class="form=control">@Html.DisplayFor(model => model.Diachi)</span>
                                            </div>
                                        </li>

                                        <!-- Giới tính -->
                                        <li class="zf-radio zf-tempFrmWrapper">
                                            <label class="zf-labelName">Giới tính </label>
                                            <div class="zf-tempContDiv">
                                                @if (Model.Gioi == true)
                                                {
                                                    <div class="form-check custom mb-2">
                                                        <input type="radio" id="formValidationGender" name="formValidationGender" class="form-check-input" checked />
                                                        <label class="form-check-label" for="formValidationGender">Nữ</label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="form-check custom mb-2">
                                                        <input type="radio" id="formValidationGender" name="formValidationGender" class="form-check-input" checked />
                                                        <label class="form-check-label" for="formValidationGender">Nam</label>
                                                    </div>
                                                }
                                                <span asp-validation-for="Gioi" class="text-danger"></span>
                                            </div>
                                        </li>

                                        <!-- Ảnh đại diện -->
                                        <li class="zf-tempFrmWrapper">
                                            <label class="zf-labelName">Ảnh đại diện</label>
                                            <div class="zf-tempContDiv">
                                                <img src="@Model.Hinh" alt="Avata Image" id="previewImage" style="width: 100px; height: auto;" />
                                            </div>
                                        </li>

                                        <!-- Vai trò -->
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Vai trò </label>
                                            <div class="zf-tempContDiv">
                                                <span asp-validation-for="Role" class="text-danger"></span>
                                            </div>
                                        </li>
                                        <li class="zf-tempFrmWrapper zf-large">
                                            <label class="zf-labelName">Mô tả</label>
                                            <div class="zf-tempContDiv">
                                                <textarea> @Html.DisplayFor(model => model.Mota)</textarea>
                                                <span asp-validation-for="Mota" class="text-danger"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Submit Section -->
                                <ul>
                                    <li class="zf-fmFooter">
                                        <a href="/Admin/NhanViens/api/NhanViens/Edit/${@Html.DisplayFor(model => model.MaNv)}" class="btn btn-primary" type="button"><i class="dw dw-edit2"></i> Cập nhật</a>

                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </body>

                </html>
                                
                               