@model IEnumerable<WebQuanLyNhaKhoa.Data.NhanVien>
<body class="font-mono bg-slate-800">
    <div class="categories">
        <div class="m-auto w-[1320px]">
            <h1 class="categories__title uppercase text-center my-[10px] font-bold text-4xl bg-clip-text bg-gradient-to-r from-violet-500 to-fuchsia-500 text-transparent tracking-widest">
                Danh sách nhân sự
            </h1>
            <div class="my-5">
                <div class="flex gap-[20px] items-end">
                    <!-- Chức vụ -->
                    <div class="flex flex-col items-center w-96">
                        <span for="Employee" class="text-amber-400 text-center text-2xl">
                            Categories Employee:
                        </span>
                        <form asp-action="Index" class="relative w-full mt-[10px]">
                            <select name="role"
                                    id="Employee"
                                    class="outline-none w-full rounded-md border-solid border-2 border-red-200 bg-red-200 py-[5px] px-5">
                                <option value="nothing">Nothing</option>
                                <option value="nhanvien">Nhân viên quản lý (OffLine)</option>
                                <option value="admin">Nhân viên quản lý (Online) </option>
                            </select>
                            <button type="submit" class="outline-none gap-[3px] flex w-[45px] h-[36px] bg-amber-300 absolute justify-center items-center rounded-r-lg top-[1px] right-[-1px]"><i class="fa-solid fa-filter"></i>Lọc</button>
                        </form>
                    </div>
                    <!-- Tìm kiếm -->
                    <div class="flex flex-col items-center w-[70%]">
                        <span  class="text-amber-400 text-center block text-2xl">Search Bar:</span>
                        <form method="post" asp-action="Index" class="relative w-full mt-[10px]">
                            <input type="text"
                                   placeholder="Search Employee"
                                   class="w-full py-[5px] px-5 rounded-md outline-none" name="query" />
                            <button type = "submit"  class="flex w-[45px] h-[34px] bg-amber-300 absolute top-0 right-[-1px] justify-center items-center rounded-r-lg">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>  
                        </form>
                    </div>

                    <!-- Sort -->
                    <div class="flex flex-col items-center w-96">
                        <span for="Employee" class="text-amber-400 text-center text-2xl">
                            Sort Employee:
                        </span>
                        <form asp-action="Index" class="relative w-full mt-[10px]">
                            <select name="sort"
                                    id="Employee"
                                    class="outline-none w-full rounded-md border-solid border-2 border-red-200 bg-red-200 py-[5px] px-5">
                                <option value="nothing">Nothing</option>
                                <option value="Ten">Theo tên</option>
                                <option value="Chucvu">Chức vụ</option>
                            </select>
                            <button type ="submit" class="outline-none gap-[3px] flex w-[45px] h-[36px] bg-amber-300 absolute justify-center items-center rounded-r-lg top-[1px] right-[-1px]">
                                <i class="fa-solid fa-sort"></i>Sort
                            </button>
                        </form>
                        
                    </div>
                </div>
            </div>
            <ul class="grid grid-cols-4 gap-5 mt-[50px]">
                 @foreach (var item in Model)
                   {
                 <li class="w-80 bg-pink-100 p-[20px] rounded-xl group">
                   
                        <img src="@item.Hinh"
                             alt="@item.Ten"
                             class="h-[420px] w-full object-cover rounded-md transition-all duration-300 transform group-hover:scale-110" />
                        <div class="mt-3">
                            <h2 class="my-[16px] text-center text-xl font-bold">@item.Ten</h2>
                            <p class="text-center text-sm mt-2">@item.MaCvNavigation.TenCv</p>
                        </div>
                        <div class="flex justify-center gap-4 mt-5">
                            <a asp-action="Delete" asp-controller="NhanViens" asp-route-id="@item.MaNv" class="flex items-center justify-center w-24 h-14 bg-red-500 rounded-md text-[20px] text-center">
                                Delete
                            </a>
                            <a asp-action="Edit" asp-controller="NhanViens" asp-route-id="@item.MaNv" class="flex items-center justify-center w-24 h-14 mx-[5px] bg-emerald-300 rounded-md text-[20px]">
                                    Edit
                            </a>
                        </div>
                  
                </li>
                }
            </ul>
            <a asp-action="Create" class="mt-8 block">
                <button class="py-3 w-full bg-teal-400 rounded-xl ease-in duration-200 hover:outline outline-offset-2 outline-pink-500">
                    Thêm nhân viên <i class="fa-solid fa-user-plus"></i>
                </button>
            </a>
        </div>
    </div>
</body>

