@model IEnumerable<WebQuanLyNhaKhoa.Data.NhanVien>

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!DOCTYPE html>
<html lang="vn">

<!-- Mirrored from skyethemes.com/html/2022/medicoz/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:35:40 GMT -->
<head>
<meta charset="utf-8">

<!-- Stylesheets -->
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/css/color-themes/scarlet.css" rel="stylesheet">

<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>


<body>

<div class="page-wrapper">

  <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Bnner Section Two -->
    <section class="banner-section-two">
        <div class="banner-carousel owl-carousel owl-theme default-arrows dark">
            <!-- Slide Item -->
    <div class="slide-item" style="background-image: url('@Url.Content("~/images/main-slider/3-1.jpg")');">
                @* <div class="auto-container"> *@
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="icon-box"><span class="icon flaticon-dental-insurance"></span></div>
                            <h1>Nha Khoa Hoàn Mĩ</h1>
                            <h3>Trụ sở tại TP. Hồ Chí Minh</h3>
                            <div class="text">"Tận hưởng nụ cười hoàn hảo với dịch vụ nha khoa chuyên nghiệp tại Nha khoa Hoàn Mỹ. Chúng tôi cam kết mang đến cho bạn trải nghiệm khám chữa răng thoải mái, hiệu quả và an toàn. Với đội ngũ bác sĩ giàu kinh nghiệm và trang thiết bị hiện đại, chúng tôi tự tin sẽ làm hài lòng quý khách."</div>
                            <div class="btn-box"><a href="~/Services/Index" class="theme-btn btn-style-one bg-scarlet"><span class="btn-title">Xem dịch vụ</span></a></div>
                        </div>
                    </div>
                @* </div> *@
            </div>

            <!-- Slide Item -->
    <div class="slide-item" style="background-image: url('@Url.Content("~/images/main-slider/3-2.jpg")');">
                <div class="auto-container">
                    <div class="content-outer">
                        <div class="content-box">
                            <div class="icon-box"><span class="icon flaticon-dental-insurance"></span></div>
                            <h1>Nha Khoa Hoàn Mĩ</h1>
                            <h3>Trụ sở tại TP. Hồ Chí Minh</h3>
                            <div class="text">"Sau những hàng răng chắc khỏe là cả một câu chuyện về sức khỏe và sự tự tin. Hãy để chúng tôi kể tiếp câu chuyện ấy cho bạn."</div>
                            <div class="btn-box"><a href="#" class="theme-btn btn-style-one bg-scarlet"><span class="btn-title">Xem dịch vụ</span></a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Bnner Section -->

    <!-- About Section Three -->
    <section class="about-section-three">
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-5 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="sec-title">
                            <span class="sub-title">Câu Chuyện về Bệnh Viện</span>
                            <h2>Bệnh Viện Hoàn Mĩ</h2>
                            <span class="divider"></span>
                            <p></p>
                        </div>
                        <div class="about-owner">
                            <img src="~/images/icons/sign.png" alt="" class="sign-img">
                            <h4 class="name">Tùng Sơn</h4>
                            <span class="designation">Founder of Bệnh Viện Hoàn Mĩ</span>
                        </div>
                    </div>
                </div>

                <!-- Images Column -->
                <div class="image-column col-lg-7 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/resource/image-6.jpg" alt=""></figure>
                    </div>
                </div>


                <div class="blocks-column col-lg-12 order-3">
                    <div class="row">
                        <!-- Feature BLock -->
                        <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-dentist"></span>
                                <h4>Bác sĩ chất lượng</h4>
                                <p>Nha khoa, còn được gọi là Y học Răng hàm mặt, là một chuyên môn của chúng tôi.</p>
                            </div>
                        </div>

                        <!-- Feature BLock -->
                        <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-toothbrush"></span>
                                <h4>Khám nhanh chóng</h4>
                                <p>Khám nhanh chóng, tiết kiệm thời gian cho khách hàng.</p>
                            </div>
                        </div>

                        <!-- Feature BLock -->
                        <div class="feature-block-three col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-drilling"></span>
                                <h4>Không đau đớn</h4>
                                <p>Không đau đớn khi khám tại Hoàn Mĩ, mang lại cảm giác thoải mái và an tâm cho khách hàng.</main></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section Three -->

    <!-- Fun Fact Section Three-->
<section class="fun-fact-section-three">
    <div class="auto-container">
        <div class="background-layer"></div>
        <div class="row">
            <!-- Column 1: Năm kinh nghiệm -->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                    <span class="count-text" data-speed="3000" data-stop="25">0</span>
                    <h4 class="counter-title">Năm kinh nghiệm</h4>
                </div>
            </div>

            <!-- Column 2: Đội ngũ bác sĩ -->
            <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="count-box">
                    <div class="icon-box"><span class="icon flaticon-team"></span></div>
                    <span class="count-text" data-speed="9000" data-stop="@ViewBag.NhanViensCount">@ViewBag.NhanViensCount</span>
                    <h4 class="counter-title">Đội ngũ bác sĩ</h4>
                </div>
            </div>

                <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                    <div class="count-box">
                        <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                        <span class="count-text" data-speed="3000" data-stop="@ViewBag.KhachHangCount">0</span>
                        <h4 class="counter-title">Số bệnh nhân hài lòng</h4>
                    </div>
                </div>



        </div>
    </div>
</section>

    <!-- Fun Fact Section Three -->

    <!-- Team Section Two -->
   <section class="team-section-two alternate alternate2">
    <div class="auto-container">
        <!-- Swiper Container -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var doctor in Model)
                {
                    <div class="swiper-slide">
                        <div class="team-block-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                    <a href="@Url.Action("DoctorDetails", "Doctor", new { id = doctor.MaNv })">
                                            <img src="@Url.Content(doctor.Hinh)" alt="@doctor.Hinh" />
                                        </a>
                                    </figure>
                                    <ul class="social-links">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                    </ul>
                                </div>
                                <div class="info-box">
                                    <h5 class="name"><a href="doctor-detail/@doctor.MaNv">@doctor.Ten</a></h5>
                                    <span class="designation">@doctor.KinhNghiem kinh nghiệm</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>

    <!--End Team Section -->

    <!-- Skill Section -->
    <section class="skill-section">
        <div class="outer-container clearfix">
            <div class="skill-column">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="sub-title">CÔNG NGHỆ MỚI NHẤT</span>
                        <h2>Thiết bị cao cấp</h2>
                        <span class="divider"></span>
                        <div class="text">Trong ngành nha khoa hiện đại, việc sử dụng thiết bị cao cấp là yếu tố then chốt giúp đảm bảo hiệu quả điều trị và mang lại sự thoải mái tối đa cho bệnh nhân. Các thiết bị này không chỉ giúp bác sĩ nha khoa thực hiện các thủ tục chính xác mà còn tối ưu hóa quy trình điều trị.</div>
                    </div>

                    @* <!--Skills-->
                    <div class="skills">
                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">CARDIO-ONCOLOGY</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="55">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="55"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">HEART ASSESSMENT</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="72">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="72"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">Dental SURGERY</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="88">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="88"></div></div>
                            </div>
                        </div>

                        <!--Skill Item-->
                        <div class="skill-item">
                            <div class="skill-header clearfix">
                                <div class="skill-title">HEART ASSESSMENT</div>
                                <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="78">0</span>%</div></div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner"><div class="bar progress-line" data-width="78"></div></div>
                            </div>
                        </div>
                    </div> *@

                    <div class="btn-box"><a href="~/Contact/AboutUs" class="theme-btn btn-style-three"><span class="btn-title">Tìm hiểu thêm</span></a></div>
                </div>
            </div>

            <div class="image-column" style="background-image: url('@Url.Content("~/images/resource/image-7.jpg")');">
                <div class="image-box">
                    <figure class="image"><img src="~/images/resource/image-7.jpg" alt=""></figure>
                </div>
            </div>
        </div>
    </section>
    <!--End Skill Section -->

    <!-- Services Section Three-->
    <section class="services-section-three">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="sub-title">Dịch vụ của chúng tôi</span>
                <h2>Nụ cười của khách hàng là trên hết</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-dentist"></span>
                        <h5><a href="#">Nha Khoa Tổng Quát</a></h5>
                        <div class="text">Nha khoa, còn được gọi là y học răng miệng, là một nhánh của y học bao gồm nghiên cứu, chẩn đoán, phòng ngừa và điều trị các bệnh về răng miệng.</div>
                        <span class="icon-float flaticon-dentist"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-braces"></span>
                        <h5><a href="#">Chỉnh nha</a></h5>
                        <div class="text">Chỉnh nha là một lĩnh vực trong nha khoa chuyên về việc chẩn đoán, phòng ngừa và điều trị các rối loạn về sự phát triển và cấu trúc của răng và hàm. </div>
                        <span class="icon-float flaticon-braces"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-implant"></span>
                        <h5><a href="#">Cấy ghép răng</a></h5>
                        <div class="text">Cấy ghép răng là một phương pháp điều trị nha khoa tiên tiến, trong đó một trụ titanium được cấy vào xương hàm để thay thế chân răng đã mất. </div>
                        <span class="icon-float flaticon-implant"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-teeth"></span>
                        <h5><a href="#">Tẩy trắng răng</a></h5>
                        <div class="text">Trắng răng là phương pháp nha khoa giúp làm sáng màu răng, loại bỏ vết ố và cải thiện vẻ đẹp nụ cười. </div>
                        <span class="icon-float flaticon-teeth"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-dental-insurance"></span>
                        <h5><a href="#">Chỉnh hình thẩm mỹ răng miệng</a></h5>
                        <div class="text">Chỉnh hình thẩm mỹ răng miệng là một nhánh của nha khoa tập trung vào việc cải thiện vẻ ngoài của răng, nướu và nụ cười.</div>
                        <span class="icon-float flaticon-dental-insurance"></span>
                    </div>
                </div>

                <!-- Service Block -->
                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-tooth"></span>
                        <h5><a href="#">Điều trị nướu</a></h5>
                        <div class="text">Điều trị nướu là một phần quan trọng trong nha khoa, tập trung vào việc chẩn đoán và điều trị các bệnh về nướu như viêm nướu và bệnh nha chu.</div>
                        <span class="icon-float flaticon-tooth"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Services Section -->

        <!-- Testimonial Section -->
    <section class="testimonial-section-two">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title text-center">
                <span class="title">Bệnh nhân hài lòng</span>
                <h2>Bệnh nhân của chúng tôi nói gì</h2>
                <span class="divider"></span>
            </div>
            
            <div class="testimonial-outer">
                <!-- Product Thumbs Carousel -->
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme">
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="~/images/resource/testi-thumb-1.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Quang Phúc</div>
                                <div class="designation">Sinh viên</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="~/images/resource/testi-thumb-2.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Thanh Tùng</div>
                                <div class="designation">Sinh viên</div>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="~/images/resource/testi-thumb-3.jpg" alt=""></figure>
                            <div class="author-info">
                                <span class="icon fa fa-quote-left"></span>
                                <div class="author-name">Ngọc Hiếu</div>
                                <div class="designation">Sinh viên</div>
                            </div>
                        </div>
              
            
                    </div>
                </div>

                <!-- Client Testimonial Carousel -->
                <div class="client-testimonial-carousel default-dots owl-carousel owl-theme">
                
                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Phòng khám nha khoa Hoàn Mỹ thực sự chuyên nghiệp và tận tâm. Tôi được tư vấn kỹ lưỡng và quy trình làm răng diễn ra nhanh chóng, không hề đau đớn. Cảm ơn đội ngũ bác sĩ và nhân viên rất nhiệt tình!</div>
                        </div>
                    </div>
                    
                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Tôi rất hài lòng với dịch vụ tẩy trắng răng tại Hoàn Mỹ. Không gian sạch sẽ, hiện đại và bác sĩ cực kỳ chu đáo. Kết quả ngoài mong đợi, răng tôi trắng sáng hơn hẳn sau buổi đầu tiên!</div>
                        </div>
                    </div>
                    
                    <!--Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="text">Đây là nơi mà cả gia đình tôi tin tưởng. Các con tôi không còn sợ đi khám răng nhờ đội ngũ bác sĩ thân thiện ở Hoàn Mỹ. Chất lượng dịch vụ thật sự tuyệt vời, chắc chắn sẽ quay lại!</div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Call To Action -->
            <div class="call-to-action">
                <div class="inner-container">
                    <div class="content-column">
                        <h4>Chúng tôi sử dụng công nghệ hiện đại nhất trong điều trị nha khoa</h4>
                        <h2>Tại sao phải thường xuyên khám răng?</h2>
                        <a href="~/Services/Index" class="theme-btn btn-style-three"><span class="btn-title">Xem dịch vụ</span></a>
                    </div>

                    <div class="video-column">
                        <div class="btn-box">
                            <a href="https://www.youtube.com/watch?v=kX3MRamsdvE" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon flaticon-play-button" aria-hidden="true"></i><span class="ripple"></span></a>
                            <span class="title">Xem ngay</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    @* <!-- News Section Two -->
    <section class="news-section-two">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <span class="title">OUR latest BLOG</span>
                <h2>Articles and News</h2>
                <span class="divider"></span>
            </div>

            <div class="row">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-post-image.html"><img src="~/images/resource/news-1.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="blog-post-image.html">What is The Success rate<br> of a root canel?</a></h4>
                            <div class="post-info">
                                <div class="post-author">By<a href="#">Admin Rose</a></div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-post-image.html"><img src="~/images/resource/news-2.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="blog-post-image.html">How to handle your kids’ <Br>mystery ailments?</a></h4>
                            <div class="post-info">
                                <div class="post-author">By<a href="#">Admin Rose</a></div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="blog-post-image.html"><img src="~/images/resource/news-3.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="blog-post-image.html">How to help the cardiology <br>department</a></h4>
                            <div class="post-info">
                                <div class="post-author">By<a href="#">Admin Rose</a></div>
                                <ul class="post-option">
                                    <li><a href="#">0 <i class="far fa-comments"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section Two --> *@

    <!-- Clients Section -->
    <section class="clients-section">
        <div class="auto-container">

            <!-- Sponsors Outer -->
            <div class="sponsors-outer">
                <!--clients carousel-->
                <ul class="clients-carousel owl-carousel owl-theme">
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/1.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/2.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/3.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/4.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/5.png" alt=""></a> </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section --> 

</div><!-- End Page Wrapper -->

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 10,         // Display 3 items at a time (adjustable)
        spaceBetween: 5,         // Space between each slide
        loop: false,               // Infinite looping
        autoplay: {
            delay: 2500,          // Auto slide every 2.5 seconds
            disableOnInteraction: false, // Keeps autoplay on interaction
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,      // Enable pagination controls
        },
        navigation: {
            nextEl: '.swiper-button-next', // Next button
            prevEl: '.swiper-button-prev', // Prev button
        },
        breakpoints: {
            // When the screen size is less than 768px, show 1 item at a time
            768: {
                slidesPerView: 2,
                spaceBetween: 10,
            },
            // When the screen size is between 768px and 1024px, show 2 items at a time
            1024: {
                slidesPerView: 3,
                spaceBetween: 10,
            },
        }
    });
</script>


</body>

<!-- Mirrored from skyethemes.com/html/2022/medicoz/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:35:56 GMT -->
</html>