@model IEnumerable<WebQuanLyNhaKhoa.Data.DonThuoc>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        text-align: center;
    }
</style>
<h1>Trang danh sách thuốc </h1>

<p>
    <a asp-controller="DanhSachKham" asp-action="Index">Trở lại trang danh sách để đăng kí thêm thuốc cho bệnh nhân</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdkhamNavigation.Idkham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLapDt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddungCuNavigation.TenDungCu)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdkhamNavigation.Idkham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLapDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddungCuNavigation.TenDungCu)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.IddonThuoc">Thông tin</a>
            </td>
                
        </tr>
}
    </tbody>
</table>
