@model WebQuanLyNhaKhoa.DTO.ChiTietHoaDonDTO

@{
ViewData["Title"] = "Details";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<meta charset="UTF-8">
<link href="~/css/form.css" rel="stylesheet" type="text/css">
</head>

<script>
$(document).ready(function () {
$('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
<div class="xs-pd-20-10 pd-ltr-20">
<div class="row clearfix progress-box">
<div class="col-lg-12">
<a asp-action="Index">
    <button class="rounded-lg px-4 py-2 border-2 border-black-500 text-black-500 hover:bg-blue-600 hover:text-blue-100 duration-300">
        ← Quay về lại danh sách
    </button>
</a>
<br>
<hr>

<body class="zf-backgroundBg">
    <div class="zf-templateWidth">
        <form action="/YourAction" name="form" method="POST" enctype="multipart/form-data" id="createNhanVienForm">
            <div class="zf-templateWrapper">
                <!-- Header -->
                <ul class="zf-tempHeadBdr">
                    <li class="zf-tempHeadContBdr">
                        <h2 class="zf-frmTitle"><em>Chi tiết hóa đơn của bệnh nhân</em></h2>
                        <p class="zf-frmDesc">Thông tin hóa đơn</p>
                        <div class="zf-clearBoth"></div>
                    </li>
                </ul>

                <!-- Form Container -->
                <div class="zf-subContWrap zf-leftAlign">
                    <ul>
                        <!-- Tên -->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Tên bệnh nhân </label>
                            <div class="zf-tempContDiv">
                                <span class="form-control"> @Html.DisplayFor(model => model.tenBn)</span
                            </div>
                        </li>

                        <!-- Email -->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Tiền thuốc</label>
                            <div class="zf-tempContDiv">
                                <span class="form-control">@String.Format("{0:N0} VND", Model.TienThuoc) </span>
                            </div>
                        </li>

                        <!-- Số điện thoại -->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Tiền điều trị</label>
                            <div class="zf-tempContDiv">
                                <span class="form-control">@String.Format("{0:N0} VND", Model.TienDieuTri) </span>
                            </div>
                        </li>

                        <!-- Chức vụ -->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Tổng tiền</label>
                            <div class="zf-tempContDiv">
                                <span class="form=control">@String.Format("{0:N0} VND", Model.TongTien)</span>
                            </div>
                        </li>

                        <!-- Kinh nghiệm -->
                        <li class="zf-tempFrmWrapper zf-large">
                            <label class="zf-labelName">Ngày lập</label>
                            <div class="zf-tempContDiv">
                                <span class="form-control">@String.Format("{0:dd/MM/yyyy}", Model.NgayLap)</span>
                            </div>
                        </li>
                        <li class="zf-radio zf-tempFrmWrapper">
                            <label class="zf-labelName">Chi tiết đơn thuốc</label>
                            <div class="zf-tempContDiv">
                                @if (Model.DonThuocs.Any())
                                {
                                    <div class="table-responsive"> <table class="table table-bordered table-striped"> <thead class="thead-dark"> <tr> <th>Tên thuốc</th> <th>Thành giá</th> <th>Tổng tiền</th> <th>Ngày lập</th> </tr> </thead> <tbody> @foreach (var donThuoc in Model.DonThuocs)
                                                {
                                                    <tr> <td>@donThuoc.tenThuoc</td> <td>@donThuoc.ThanhGia</td> <td>@donThuoc.TongTien</td> <td>@donThuoc.NgayLapDt?.ToString("dd/MM/yyyy")</td> </tr>
                                                } </tbody> </table> </div>
                                }
                                else
                                {
                                    <p class="text-muted">Không có thông tin về đơn thuốc.</p>
                                }
                            </div>
                        </li>
                        <li class="zf-radio zf-tempFrmWrapper">
                            <label class="zf-labelName">Chi tiết điều trị</label>
                            <div class="zf-tempContDiv">
                                @if (Model.DieuTris.Any())
                            {
                                <div class="table-responsive"> <table class="table table-bordered table-striped"> <thead class="thead-dark"> <tr> <th>Tên điều trị</th> <th>ThanhTien</th> </tr> </thead> <tbody> @foreach (var dieuTri in Model.DieuTris)
                                            {
                                                <tr> <td>@dieuTri.tenDieuTri</td> <td>@dieuTri.ThanhTien</td> </tr>
                                            } </tbody> </table> </div>
                            }
                            else
                            {
                                <p class="text-muted">Không có thông tin về điều trị.</p>
                            } </div>
                            </div>
                        </li>
            </div>
        </form>
    </div>
</body>

</html>
                               