@model WebQuanLyNhaKhoa.Data.HoaDon

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDieuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDieuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailBn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailBn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DieuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DieuTri.IddieuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonThuoc.IddonThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhSachKham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhSachKham.Idkham)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdhoaDon" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
