@model WebQuanLyNhaKhoa.Data.HoaDon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        text-align: center;
    }
</style>
<h1>Thông tin hóa đơn</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThucThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TienDieuTri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TienDieuTri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailBn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailBn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdhoaDon">Thanh toán</a> |
    <a asp-action="Index">Trở lại danh sách các hóa đơn</a>
</div>
