@model IPagedList<WebQuanLyNhaKhoa.Data.DichVu>
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from skyethemes.com/html/2022/medicoz/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:36:40 GMT -->
<head>
<meta charset="utf-8">
<title>Medicoz | Health and Medical HTML Template | Services</title>

<!-- Stylesheets -->
<link href="~/css/bootstrap.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<link href="~/css/responsive.css" rel="stylesheet">
<link href="~/css/table.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!--Color Themes-->
    <link id="theme-color-file" href="~/css/color-themes/scarlet.css" rel="stylesheet">

    <script src="~/js/table.js"></script>

<link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<style>
    .pagination-services {
 display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 999; /* Ensure it's above other elements */
    position: relative; /* This is needed to apply z-index */
    background-color: #f4f4f4;
    }

    .pagination-services ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .pagination-services li {
        display: inline-block;
        margin: 0 5px;
    }

    .pagination-services a {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
    }

    .pagination-services a:hover {
        background-color: #f0f0f0;
    }

    .pagination-services .active {
    background-color: #333;
    color: #fff;
    padding: 5px 12px; /* Adjust padding as needed */
    margin: 0 10px; /* Adjust margin as needed */
}
</style>
@{
    // List of available flaticon icon classes
    var iconClasses = new List<string>
    {
        "flaticon-first-aid",
        "flaticon-medical",
        "flaticon-hospital",
        @* "flaticon-ambulance", *@
        "flaticon-doctor",
        @* "flaticon-nurse", *@
        @* "flaticon-syringe", *@
        "flaticon-heart",
        @* "flaticon-stethoscope", *@
        @* "flaticon-patient-care" *@
    };

    // Initialize the randomizer
    Random random = new Random();
}

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!--Page Title-->
<section class="page-title" style="background-image: url('@Url.Content("~/images/background/8.jpg")');">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Dịch vụ</h1>
                <ul class="page-breadcrumb">
                    <li><a href="~/Home/Index">Trang chủ</a></li>
                    <li>Dịch vụ</li>
                </ul> 
            </div>
        </div>
    </section>
    <!--End Page Title-->
@* 
               <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon flaticon-heartbeat"></span>
                        <h5><a href="#">Health Check</a></h5>
                        <div class="text">We offer extensive medical procedures to outbound & inbound patients what it is and we are very proud achievement staff.</div>
                    </div>
                </div> *@


    <!-- Services Section -->

<section class="services-section">
    <div class="auto-container">
        <div class="row">
            <span class="d-block text-center mb-4">(Áp dụng cho ngày @DateTime.Now.ToString("dd/MM/yy"))</span>

            @foreach (var service in Model)
            {
                                var randomIconClass = iconClasses[random.Next(iconClasses.Count)];
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <span class="icon @randomIconClass"></span> 
                        <h5>
                           <a href="@Url.Action("ServicesDetail", "Services", new { id = service.IddichVu })">
                                @service.TenDichVu
                            </a>
                        </h5>
                        <div class="text">
                            Đơn vị tính: @service.DonViTinh<br />
                           Mô tả: @service.Description
                        </div>
                    </div>
                </div>

                <!-- Modal for the service -->
                <div class="modal fade" id="serviceModal-@service.IddichVu" tabindex="-1" aria-labelledby="serviceModalLabel-@service.IddichVu" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="serviceModalLabel-@service.IddichVu">@service.TenDichVu</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                                <div class="modal-body">
                                    <p><strong>Đơn vị tính:</strong> @service.DonViTinh</p>
                                    <p><strong>Giá:</strong> @service.DonGia.ToString("N0") VNĐ</p>
                                    <p><strong>Mô tả:</strong> @service.Description</p>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>

 <!-- Pagination -->
            <div class="pagination-container pagination-services">
                @Html.PagedListPager(
                    Model,
                    page => Url.Action("Index", new { page }),
                    new PagedListRenderOptions
                    {
                        @* DisplayPageCountAndCurrentLocation = true, *@
                        @* DisplayItemSliceAndTotal = true, *@
                        MaximumPageNumbersToDisplay = 5,
               
                    }
                )
            </div>

</section>
       

    <!--End Services Section -->
    
    <!-- Appointment Section -->
    <section class="appointment-section alternate">
        <div class="image-layer" style="background-image: url(images/background/2.jpg);"></div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <span class="title">CẦN ĐẶT LỊCH KHÁM BỆNH?</span>
                        <h2>HÃY ĐẶT LỊCH <br>LÀ BẠN SẼ XONG!</Nav></h2>
                        <div class="number">Đặt lịch hoặc gọi số</i> <strong>+(84) 347 123 534</strong></div>
                        <a href="~/BookAppointment/Create" class="theme-btn btn-style-three"><span class="btn-title">Đặt lịch khám</span></a>
                    </div>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <figure class="image"><img src="~/images/resource/image-4.png" alt=""></figure>
                </div>
            </div>

            @* <div class="fun-fact-section">
                <div class="row">
                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-user-experience"></span></div>
                            <h4 class="counter-title">Years of Experience</h4>
                            <span class="count-text" data-speed="3000" data-stop="25">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-team"></span></div>
                            <h4 class="counter-title">Medical Spesialities</h4>
                            <span class="count-text" data-speed="3000" data-stop="470">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-hospital"></span></div>
                            <h4 class="counter-title">Medical Spesialities</h4>
                            <span class="count-text" data-speed="3000" data-stop="689">0</span>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="counter-column col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
                        <div class="count-box">
                            <div class="icon-box"><span class="icon flaticon-add-friend"></span></div>
                            <h4 class="counter-title">Happy Patients</h4>
                            <span class="count-text" data-speed="3000" data-stop="9036">0</span>
                        </div>
                    </div>
                </div>
            </div> *@



            
        </div> 
        <br>
<br>
<br>
    </section>
    <!-- End Appointment Section -->




<!-- /.container -->




<!-- Page Header End -->
@* <div class="Services">  
    <div class="services__container">
        <!-- Service Header Start-->
        <div class="services__row">
            <div class="services__left">
                <h1 >Bảng giá dịch vụ</h1>
                <span>(Áp dụng từ ngày 04/03/2023)</span>
            </div>
            <div class="services__right">
                <img src="./images/logo.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <!-- Service Header End-->

     <!-- Service Body Start-->
<div class="services__body">
    <table class="w-full border-collapse shadow-lg rounded-lg overflow-hidden">
        <thead class="bg-cyan-500 text-white text-lg">
            <tr>
                <th class="p-4 border">STT</th>
                <th class="p-4 border">Tên dịch vụ</th>
                <th class="p-4 border">Đơn vị</th>
                <th class="p-4 border">Giá tham khảo</th>
            </tr>
        </thead>
        <tbody class="text-center text-black bg-white">
            @foreach (var item in Model)
            {
                <tr class="hover:bg-gray-100 transition duration-300">
                    <td class="p-3 border">@item.IddichVu</td>
                    <td class="p-3 border">@item.TenDichVu</td>
                    <td class="p-3 border">@item.DonViTinh</td>
                    <td class="p-3 border">@item.DonGia VND</td>
                </tr>
            }
        </tbody>
    </table>
</div>  *@

<!-- Time Table Section -->
<section class="time-table-section">
    <div class="auto-container">
        <div class="table-outer">
            <!-- Doctors Time Table -->
            <table class="doctors-time-table">
                <thead>
                    <tr> 
                        <th class="dark">Thời gian biểu</th>
                        <th>Thứ 2</th>
                        <th>Thứ 3</th>
                        <th>Thứ 4</th>
                        <th>Thứ 5</th>
                        <th>Thứ 6</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Table Row 08:00am -->
                    <tr>
                                <th>08:00 AM</th>
                                <td>
                                    <strong>8:00 AM - 9:00 AM</strong>
                                    <div class="doctor-info">
                                        <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                        <h4 class="name">Khám nha khoa</h4>
                                        <a href="#" onclick="redirectToBooking('Monday', '08:00 AM - 09:00 AM')" class="theme-btn btn-style-one">
                                            <span class="btn-title">Đăng ký khám</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <strong>8:00 AM - 9:00 AM</strong>
                                    <div class="doctor-info">
                                        <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                        <h4 class="name">Khám nha khoa</h4>
                                        <a href="#" onclick="redirectToBooking('Tuesday', '08:00 AM - 09:00 AM')" class="theme-btn btn-style-one">
                                            <span class="btn-title">Đăng ký khám</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <strong>8:00 AM - 9:00 AM</strong>
                                    <div class="doctor-info">
                                        <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                        <h4 class="name">Khám nha khoa</h4>
                                        <a href="#" onclick="redirectToBooking('Wednesday', '08:00 AM - 09:00 AM')" class="theme-btn btn-style-one">
                                            <span class="btn-title">Đăng ký khám</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <strong>8:00 AM - 9:00 AM</strong>
                                    <div class="doctor-info">
                                        <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                        <h4 class="name">Khám nha khoa</h4>
                                        <a href="#" onclick="redirectToBooking('Thursday', '08:00 AM - 09:00 AM')" class="theme-btn btn-style-one">
                                            <span class="btn-title">Đăng ký khám</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <strong>8:00 AM - 9:00 AM</strong>
                                    <div class="doctor-info">
                                        <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                        <h4 class="name">Khám nha khoa</h4>
                                        <a href="#" onclick="redirectToBooking('Friday', '08:00 AM - 09:00 AM')" class="theme-btn btn-style-one">
                                            <span class="btn-title">Đăng ký khám</span>
                                        </a>
                                    </div>
                                </td>
                    </tr>

                    <!-- Table Row 09:00am -->
                    <tr>
                        <th>09:00AM</th>
                        <td>
                            <strong>9:00 AM - 10:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '09:00 AM - 10:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>9:00 AM - 10:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '09:00 AM - 10:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>9:00 am - 10:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '09:00 AM - 10:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>9:00 AM - 10:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '09:00 AM - 10:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>9:00 AM - 10:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '09:00 AM - 10:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Table Row 10:00am -->
                    <tr>
                        <th>10:00AM</th>
                        <td>
                            <strong>10:00 AM - 11:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '10:00 AM - 11:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>10:00 AM - 11:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '10:00 AM - 11:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>10:00 AM - 11:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '10:00 AM - 11:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>10:00 AM - 11:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '10:00 AM - 11:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>10:00 AM - 11:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '10:00 AM - 11:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Table Row 11:00am -->
                    <tr>
                        <th>11:00AM</th>
                        <td>
                            <strong>11:00 AM - 12:00 am</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '11:00 am - 12:00 am')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>11:00 am - 12:00 am</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '11:00 am - 12:00 am')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>11:00 am - 12:00 am</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '11:00 am - 12:00 am')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>11:00 am - 12:00 am</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '11:00 am - 12:00 am')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>11:00 am - 12:00 AM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                    <a href="#" onclick="redirectToBooking('Friday', '11:00 AM - 12:00 AM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Break Time (12:00pm - 01:00pm) -->
                    <tr>
                        <th>12:00PM</th>
                        <td colspan="5" class="break">Nghỉ trưa (12:00 PM - 1:00 PM)</td>
                    </tr>

                    <!-- Table Row 01:00PM -->
                    <tr>
                        <th>01:00PM</th>
                        <td>
                            <strong>1:00 PM - 2:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '01:00 PM - 02:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>1:00 PM - 2:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '01:00 PM - 02:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>1:00 PM - 2:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '01:00 PM - 02:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>1:00 PM - 2:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '01:00 PM - 02:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>1:00 PM - 2:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '01:00 PM - 02:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Table Row 02:00PM -->
                    <tr>
                        <th>02:00PM</th>
                        <td>
                            <strong>2:00 PM - 3:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '02:00 PM - 03:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>2:00 PM - 3:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '02:00 PM - 03:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>2:00 PM - 3:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '02:00 PM - 03:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>2:00 PM - 3:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '02:00 PM - 03:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>2:00 PM - 3:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '02:00 PM - 03:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Table Row 03:00PM -->
                    <tr>
                        <th>03:00PM</th>
                        <td>
                            <strong>3:00 PM - 4:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '03:00 PM - 04:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>3:00 PM - 4:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '03:00 PM - 04:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>3:00 PM - 4:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '03:00 PM - 04:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>3:00 PM - 4:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '03:00 PM - 04:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>3:00 PM - 4:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '03:00 PM - 04:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>

                    <!-- Table Row 04:00PM -->
                    <tr>
                        <th>04:00PM</th>
                        <td>
                            <strong>4:00 PM - 5:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Monday', '04:00 PM - 05:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>4:00 PM - 5:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Tuesday', '04:00 PM - 05:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>4:00 PM - 5:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="thumb"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Wednesday', '04:00 PM - 05:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>4:00 PM - 5:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Thursday', '04:00 PM - 05:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <strong>4:00 PM - 5:00 PM</strong>
                            <div class="doctor-info">
                                <figure class="icon"><i class="flaticon-doctor"></i></figure>
                                <h4 class="name">Khám nha khoa</h4>
                                <a href="#" onclick="redirectToBooking('Friday', '04:00 PM - 05:00 PM')" class="theme-btn btn-style-one">
                                    <span class="btn-title">Đăng ký khám</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>





</tbody>

                </table>
            </div>
        </div>      
    </section>
    <!-- End Time Table Section -->


    <!-- Clients Section -->
    <section class="clients-section alternate">
        <div class="auto-container">

            <!-- Sponsors Outer -->
            <div class="sponsors-outer">
                <!--clients carousel-->
                <ul class="clients-carousel owl-carousel owl-theme">
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/1.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/2.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/3.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/4.png" alt=""></a> </li>
                    <li class="slide-item"> <a href="#"><img src="~/images/clients/5.png" alt=""></a> </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Clients Section -->


</div><!-- End Page Wrapper -->

    <script>
        function getDateForDay(dayName) {
            const daysOfWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            const today = new Date();
            const currentDayIndex = today.getDay();
            const targetDayIndex = daysOfWeek.indexOf(dayName);
            console.log("day: ", targetDayIndex);


            const diff = targetDayIndex - currentDayIndex;
            const targetDate = new Date();
            targetDate.setDate(today.getDate() + diff);

         
            const year = targetDate.getFullYear();
            const month = String(targetDate.getMonth() + 1).padStart(2, "0");
            const day = String(targetDate.getDate()).padStart(2, "0");
            return `${year}-${month}-${day}`;
        }

    
        function redirectToBooking(dayName, timeSlot) {
            const date = getDateForDay(dayName); 
            console.log("day picker:", date);
            console.log("day s:", dayName);
            const url = `/BookAppointment/Create?date=${date}&time=${encodeURIComponent(timeSlot)}`;
            window.location.href = url; 
        }
    </script>

</body>

<!-- Mirrored from skyethemes.com/html/2022/medicoz/services.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:36:40 GMT -->
</html>











