@model IEnumerable<WebQuanLyNhaKhoa.Data.BenhNhan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <input type="text" name="query" />
    <button type="submit">Tìm kiếm</button>
    <select name="filter">
        <option value="nothing">Nothing</option>
        <option value="Nam">Male</option>
        <option value="Nữ">Female</option>
        <option value = "BN">Bệnh nhân trong ngày</option>
    </select>
    <button type="submit">Lọc</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gioi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKhamDau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
          
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                    @if (@item.Gioi == true)
                    {
                        
                        <span>Nữ</span>
                    }
                    else
                    {
                        <span>Nam</span>
                    }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKhamDau)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdbenhNhan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdbenhNhan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdbenhNhan">Delete</a>
                 <a asp-action="Move" asp-route-id="@item.IdbenhNhan">Move</a>
            </td>
        </tr>
}
    </tbody>
</table>
